body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: white;
}

nav {
	background-color: white;
	border: solid black;
	padding: 5px;
}

section.content {
	align-items: center;
	border: solid black;
	border-radius: 5px;
	box-shadow: 7px 7px 15px grey;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 7px;
	margin-bottom: 11px;
	max-width: 550px;
	min-width: 550px;
	padding: 5px;
}

footer {
	background-color: white;
	border: solid black;
	padding: 5px;
}

a {
	text-decoration: underline solid black;
}

a:hover {
	background-color: lightblue;
}
