body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: white;
}

nav {
	background-color: white;
	border: solid black;
}

section.content {
	border: solid black;
	border-radius: 5px;
	box-shadow: 7px 7px 15px grey;
}

footer {
	background-color: white;
	border: solid black;
}
