<!DOCTYPE html>

<html lang='en'>
	<head>
		<meta charset='utf-8'>
		<title>{{ page.title }}</title>
		<link rel='stylesheet' href='{{site.baseurl }}/css/style.css'>
	</head>
	<body>
		<div id='header_wrap' class='outer'>
			<header class='inner'>
				tengo dolor de cabeza
			</header>
		</div>
		<h2>{{ page.title }}</h2>
		<div id='main_content_wrap' class='outer'>
			<section id='main_content' class='inner'>
				{{ content }}
			</section>
		</div>
		<div id='footer_wrap' class='outer'>
			<footer class='inner'>
				i am a foot
			</footer>
		</div>
	</body>

</html>
