<!DOCTYPE html>

<html lang='en'>
	<head>
		<meta charset='utf-8'>
		<title>{{ page.title }}</title>
		<link rel='stylesheet' href='{{ site.baseurl }}/css/style.css'>
	</head>
	<body>
		<nav> 
			<a href='{{ site.baseurl }}'>Home</a>
			<a href='{{ site.baseurl }}/contact.html'>Contact</a>
			<a href='{{ site.baseurl }}/roles.html'>Team roles</a>
			<a href='{{ site.baseurl }}/meeting-schedule.html'>Meeting schedule</a>
			<a href='{{ site.baseurl }}/team-rules.html'>Team rules</a>
		</nav>

		<h2>{{ page.title }}</h2>

		<section class='content'>
			{{ content }}
		</section>

		<footer>
			i am a foot
		</footer>
	</body>

</html>
